<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Загрузить xml</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
